<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/patient/add"><i class="fa fa-user-plus"></i>
                &nbsp; New Patient</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Patient Management
                </strong>
            </h4>
        </div>
        <div class="col">
           <!-- <a href="/patient/workingPlace" id="searchShow" class="btn btn-primary">
                <i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;
                <i class="fas fa-store-alt" style="font-size: 20px"></i>
                &nbsp;
            </a>-->
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder text-center">
    <div class="col">
        <div class="col" id="patientListPresent" th:if="${not #lists.isEmpty(patients)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Code</th>
                    <th> Name</th>
                    <th> Gender</th>
                    <th> Mobile</th>
                    <th> Allergies</th>
                    <th> Nic</th>
                    <th> Address</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patient, rowCount : ${patients}">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${patient.code}"></th>
                    <th th:text="${patient.name}"></th>
                    <th th:text="${patient.gender}"></th>
                    <th th:text="${patient.mobileOne}"></th>
                    <th th:text="${patient.allergies}"></th>
                    <th th:text="${patient.nic}"></th>
                    <th th:text="${patient.address}"></th>
                    <th>
                        <a id="patientView" th:href="${'/patient/' + patient.id}" class="btn btn-success btn-sm"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                        <a id="patientEdit" th:href="${'/patient/edit/' + patient.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a id="patientRemove" th:href="${'/patient/remove/' + patient.id}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${ #lists.isEmpty(patients)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no patient upto now please add patient to the system
                        using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>