<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/doctor/add"><i class="fa fa-user-plus"></i>
                &nbsp; New Doctor</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Doctor Management
                </strong>
            </h4>
        </div>
        <div class="col">
            <!-- <a href="/doctor/workingPlace" id="searchShow" class="btn btn-primary">
                 <i class="fa fa-user " style="font-size: 20px"></i>&nbsp;Add&nbsp;
                 <i class="fas fa-store-alt" style="font-size: 20px"></i>
                 &nbsp;
             </a>-->
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder text-center">
    <div class="col">
        <div class="col" id="doctorListPresent" data-th-if="${not #lists.isEmpty(doctors)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th>Index</th>
                    <!--<th> Code</th>-->
                    <th> Name</th>
                    <th> SLMC No</th>
                    <th> Gender</th>
                    <th> Mobile</th>
                    <th> Consultancy</th>
                    <th>Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="doctor, rowCount : ${doctors}">
                    <th data-th-text="${rowCount.count}"></th>
                    <!--<th data-th-text="${doctor.code}"></th>-->
                    <th data-th-text="${doctor.name}"></th>
                    <th data-th-text="${doctor.slmcNumber}"></th>
                    <th data-th-text="${doctor.gender}"></th>
                    <th data-th-text="${doctor.mobile}"></th>
                    <th data-th-text="${doctor.consultation.name}"></th>
                    <th>
                        <a class="btn btn-success btn-sm"  data-th-href="${'/doctor/' + doctor.id}"><i
                                class="fa fa-folder-open"></i>&nbsp;View</a>
                        <a class="btn btn-primary btn-sm" id="doctorEdit" data-th-href="${'/doctor/edit/' + doctor.id}"><i
                                class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a class="btn btn-danger btn-sm" id="doctorRemove"
                           data-th-href="${'/doctor/remove/' + doctor.id}"
                           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" data-th-if="${ #lists.isEmpty(doctors)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no doctor upto now please add doctor to the system
                        using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>